.task{
    display: flex;
    padding: 0.5em 0.5em 0.5em 0em;
}

.task > *{
    flex: 1 1 auto;
}

.task__hr{
    border: 0;
    border-bottom: 2px dashed #ccc;
    background: #999;
}

.task__row{
 
    padding: 0.3em;
    
}

.task__icon{
    display: flex;
    align-self: center;
    margin: none;
    max-width: 2em;
    min-width: 2em;
}
.task__icon a{
    display: none;
    color:  black;    
}

.task li{
    list-style-type: none;
}

.task:hover {
    background-color: pink;

}

.task:hover .task__icon a{
    display: flex;
}