.menu {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #403c3b;
    max-height: 6em;
    min-height: 6em;
}

.menu img {
    height: 5em;
    width:5em;
}