.menu {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(48, 43, 134);
    max-height: 6em;
    min-height: 6em;
}

.menu img {
    height: 5em;
    width:5em;
    box-shadow:2px 2px 10px rgba(0,0,0,0.3);
    border-radius: 35%;
}


.menu img:active{
    transform:scale(0.8);
 }


 .badge {
    display: block;
    background-color: rgb(231, 57, 57);
    height: 1em;
    width: 1em;
    line-height: 1em;
    padding: 0.5em;
    border-radius: 35%;
    color: rgb(240, 188, 91);
    position: absolute;
    font-weight: bold;
    text-align: center;


  }