.menu {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(168, 135, 140);
    max-height: 6em;
    min-height: 6em;
}

.menu img {
    height: 5em;
    width:5em;
    box-shadow:2px 2px 10px rgba(0,0,0,0.3);
    border-radius: 35%;
}


.menu img:active{
    transform:scale(0.8);
 }