
/* pohjautuu Material UI:n sääntöihin */

.button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 0.7em;
    outline: none;
    margin: 0.5em;
    border-radius: 0.2em;
    box-shadow: rgba(0,0,0,0.5) 0px 2px 2px;
    font-weight: bold;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.button:active{
    box-shadow: rgba(0,0,0,0.5) 0px 2px 5px;
    background-color: #999;
}

.button:hover{
opacity: 1;
}


.button--primary{
    background-color: blue;
    color: white;
}

.button--primary:active{
    background-color: lightblue;
}

.button--secondary{
    background-color: grey;
    color: white;
}

.button--secondary:active{
    background-color: lightgray;
}


.button:disabled{
    background-color: lightgray;
    color: grey;
    box-shadow: none;
}

.button--floating{
    /* position absolute käyttää koko sivua ellei pääkomponponentissa ole määritelty position relative */
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border-radius: 50%;
    /* width: 4em;
    height: 4rem;
    font-size: 3rem; */
}