.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(26, 82, 138); */
    height: 100%;
    color: #ccc;
    padding: 20px solid blue;
    background-image: linear-gradient(to bottom right, rgba(61, 110, 167, 0.7), rgb(3, 59, 38));
    /* background-image: linear-gradient(yellow,white, blue); */
}


.weather h2{
    display: flex;
    font-size: 7em;
  
}


.weather img {
    width: 8em;
    margin: 0.2em;
}

.weather >*{
    padding: 0.3em;
}