


.edittask {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(61, 15, 56);

    min-height: 100%;
   
    
}




.edittask textarea {
   display: flex;
    margin: 3em;
    padding: 1em;
    font-size: 1.2rem;
}

.edittask input {
    display: flex;
     margin: 7em;
     font-size: large;
 }

.edittask__buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4em;
 
}



.edittask__submit, .edittask__back, .edittask__diary, .edittask__delete{
    height: 40px;
    width: 70px;
    border-radius: 25%;
    border: none;
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-align: center;
}


.edittask__submit {
    background-color: goldenrod;
}


.edittask__back {

    background-color: #999;
   
}

.edittask__delete {
    background-color: #666;
}


.edittask__diary{
    background-color: green;
}