.calendar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgb(25, 80, 25);
    background-color: goldenrod;
    padding: 0.5em;
    min-height: 100%;
}

.calendar__head{
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    
}

.calendar__add{
    display: flex;
    align-self: flex-end;
    position: sticky;
    color: blue;

}


.calendar__add:active{
    transform:scale(0.8);
 }

.material-icons.md-36 { font-size: 36px; }