.garden {
  display: flex;
  background-color:  olive;
  flex-direction: column;
  
  color:#053241;
  min-height: 100%;
}
.garden ul{   
  list-style: none;
}


.garden__section {
  display: flex;
  flex-direction: row;
}

.garden__kasvit{

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 30%;
  margin-left: 1em;
  background-color: rgb(86, 114, 31);
  border-radius: 5%;
  color: white;
  border: 2px solid rgba(0,0,0,0.2);
  padding: 0.5em;
}