.garden {
  display: flex;
  flex-direction: column;
  background-color: #053241;
  color:#053747;
  min-height: 100%;
  /* background-image: url('./garden.png'); */
}


.garden ul{   
  list-style: none;
   padding: 0.2em;
}

.garden h3 {
  padding: 0.2em;
}

.garden__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.2em;
}

.garden__kasvit {
  flex: 1 1 100px;
  margin: 0.1em;
  background-color: rgba(14, 95, 95, 0.8);
  box-shadow:2px 2px 10px rgba(0,0,0,0.3);
  border-radius: 5%;
  color: white;
  padding: 0.5em;
}

.garden__add{
  display: flex;
  justify-content: space-evenly;
  margin: 0.5em;
}

::-webkit-scrollbar{
  width: 0.5em;
}

::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0.0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.1);
} 
