
.diary{
 
    max-height: 100%;
    min-height: 100%;

}

.diary__content{
    /* opacity: 0.7;  */

}

.diary hr{
    opacity: 0.5;
    
    
}




.diary p{
    padding:0.5em;
}

.note{
    padding: 1.5em 2em;  
    /* background-color: rgb(237, 204, 240); */

}

