
/* stylesheet of the diary/journal were the user can
mark down their notes or duties they have done */

.diary{
    max-height: 100%;
    min-height: 100%;
    background-color: rgb(220,220,220);
}


.diary hr{
    opacity: 0.5;
}

.diary p{
    padding:0.5em;
}

.note{
    padding: 1.5em 2em;  
}

