
.taskfilter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2em;
    flex-grow: 1;
    
}

.taskfilter ul{   
    list-style: none;
  }

.taskfilter li{   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    color: #ddd;
   padding: 0.3em;
  }

  .taskfilter li >*{   
    display: flex;
    justify-content: space-between;
  }
  .taskfilter button{   
   margin: 0.5em;
  }


  .taskfilter input{   
    display: flex;
    margin: 0.5em;
  }

.taskfilter > * {
    border-top: 2px dashed rgb(55, 6, 60);
    margin-bottom: 3em;
}

.taskfilter__late{
color: rgb(242, 51, 181);

}

.taskfilter__today{
color: rgb(240, 204, 60);
}

.taskfilter__upcoming{
color: rgb(57, 184, 38);
}


.taskfilter__date{
  color: rgb(126, 25, 25);
  font-weight: bold;
}
/* 
.taskfilter__icons{
  display: flex;
 justify-content: space-around;
}  */

/* .taskfilter__icons >*{
margin-left: 0.7em;
} */ 

.taskfilter__icon{
  max-width: 2em;
  /* display: none; */
 justify-content: center;
 align-items: center;
 background-color: rgba(0,0,0,0.2);
opacity: 0.7;
 
}
.taskfilter li:hover .taskfilter__icon{
opacity: 1;
background-color: rgba(0,0,0,0.5);

}

/* ankkurilinkki */
/* .taskfilter__icon a{
color: rgba(255,255,255,0.2);
background-color:  pink;
} */


/* 
.taskfilter li:hover .taskfilter__icon {
  display: flex;
 
} */


.task {
  background-color: rgba(0,0,0,0.2);
  border-radius: 5%;
  margin: 1em;
}