.organizer {
  background-color: rgb(135, 156, 218);
  color: rgb(9, 9, 63);
  font-weight: bold;
}

.organizer__header{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.organizer__header > *{
    padding: 1em;
}

.organizer__section{
   
    padding: 1em;
    margin: 2em;
}

.organizer__section h3{
 color: white;
 font-size: 32;
}





/* aaltosulut: shift+alt+8{}
kommentointi cmd+shift+7 */